*{
    margin: 0;
    padding: 0;
}
#container{
background: rgb(209, 190, 190);
min-height: 100vh;
border: 10px solid rgb(17, 15, 19);
}
.content{
    max-width: 900vh;
    margin: 0 100px;
}
.topSection{
    margin: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}
.topSection, img{
    border-radius: 50%;
}
.topSection, h1{
    font-size: 40px;
    font-weight: bold;
    align-items: flex-end;

}
.topSection, h4{
    font-weight: normal;
    font-size: 30px;
   text-align: end;
}
.img_container, img{
height: 300px;
width: 320px;
margin: 10px;
padding: 10px;
}
.about{
    margin: 10px 20px;
    padding: 10px 20px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: justify;
}
.about h1{
    padding: 12px;
    margin: 10px;
}
.biography h3{
    margin: 0px;
    padding: 10px;
}
.biography, ul{
    margin: 0px;
    padding: 20px;
}
footer{
    display: flex;
    justify-content: flex-end;
}