.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
}

#list{
    width: 30%;
    border-right: 2px solid black;
}

#show{
    width: 70%;

}
.note-items{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid gray;
}